@media screen and (max-width:1024px){
	.slider-content h1{
		font-size:50px;
	}
}
@media screen and (max-width:768px){
	.about{
		width:50%;
	}
	.services{
		width:50%;
	}
	.contact-single{
		width:50%;
	}
}
@media screen and (max-width:480px){
	.about{
		width:100%;
	}
	.services{
		width:100%;
	}
	.contact-single{
		width:100%;
	}
	.contact-form{
		width:100%;
		padding-right:0px;
	}
	.message{
		width:100%;
	}
}