*{
	margin:0;
	padding:0;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
p{
	line-height:25px;
}
body{
	font-family:'roboto' ,sans-serif;
}
.container{
	max-width:1170px;
	margin:0 auto;
	overflow:hidden;
	padding-left:15px;
	padding-right:15px;
}
#slider{
	background:url(../img/background.jpg)no-repeat;
	background-size:cover;
	background-position:center center;
}
.overlay{
	margin:0;
	padding:0;
	background-color:rgba(0, 0, 0, .3)
}
.slider-top{
	margin-top:20px;
}
.logo{
	width:20%;
	float:left;
}
.menu{
	margin-top:20px;
	float:right;
	
}
.menu ul{
	margin:0;
	padding:0;
}
.menu ul li{
/*	float:left;
	list-style:none; */
	display:inline-block;
	margin-bottom:20px;
}
.menu ul li a{
	text-decoration:none;
	font-size:18px;
	padding:10px 10px;
	color:#ffffff;
	text-transform:uppercase;
}
.menu ul li a:hover{
	color:#87d37c;
}
.slider-content{
	padding:200px 0;
	text-align:center;
	color:#ffffff;
}
.slider-content h2{
	font-size:30px;
	margin-bottom:15px;
}
.slider-content h1{
	font-size:75px;
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	max-width:500px;
	margin:0 auto;
	padding:20px 30px;
	margin-bottom:15px;
}
.slider-content h1 span{
	color:#87d37c;
}
.slider-content h3{
	font-size:28px;
	font-family:'roboto' ,sans-serif;
}




#about-us{
	color:#8d8c8c;
	margin:50px 0;
}
.about-top{
	text-align:center;
	padding:80px 0;
}
.about-top h2{
	font-size:36px;
	text-transform:uppercase;
}
.about-top p{
	max-width:700px;
/*	display:inline-block; */
	margin:0 auto;
}
.about-content{
	text-align:center;
}
.about{
	width:25%;
	float:left;
	margin-bottom:20px;
	padding-right:5px;
}
.about i{
	font-size:35px;
	margin-bottom:20px;
}
.about h2{
	
}
.about p{
	
}
.about:hover i,
.about:hover h2{
	color:#87d37c;
}

#service{
	background-color:#E1E1E1;
	padding:80px 0;
}
.service-top{
	color:#a7a7a7;
	text-align:center;
	margin-bottom:30px;
}
.service-top h2{
	font-size:36px;
}
.service-top p{
	max-width:700px;
	margin:0 auto;
}
.service-content{
	
}
.services{
	width:25%;
	float:left;
	padding-right:10px;
	margin-bottom:10px;
}
.services img{
	width:100%;
}

#contact-us{
	padding:100px 0;
}
.contact-top{
	color:#8d8c80;
	text-align:center;
}
.contact-top h2{
	font-size:36px;
}
.contact-top p{
	max-width:700px;
	margin:0 auto;
}
.contact-single{
	width:33.3333%;
	float:left;
	text-align:center;
	margin-top:30px;
	margin-bottom:40px;
	color:#8d8c8c;
	margin-bottom:20px;
}
.contact-single i{
	font-size:50px;
}
.contact-single h2{
	font-size:30px;
	margin-bottom:10px;
}
.contact-single h3{
	font-size:20px;
}
.contact-single:hover{
	color:#87d37c;
}

.contact-form{
	width:50%;
	float:left;
	padding-right:15px;
}
.contact-form input{
	width:100%;
	padding:15px;
	margin-bottom:20px;
}
.message{
	width:50%;
	float:right;
}
.message textarea{
	width:100%;
	height:110px;
	padding:15px;
}
.message input{
	width:130px;
	height:45px;
	padding:15px;
	text-transform:uppercase;
	margin-top:12px;
}
.message input:hover{
	background:#87d37c;
	color:#ffffff;
	border:none;
}
.form{
	clear:both;
}

#social-icon{
	background-color:#000000;
	padding:20px 0;
	text-align:center;
}
.social-icons i{
	color:#ffffff;
	font-size:20px;
	
	width:50px;
	height:50px;
	line-height:50px;
	border-radius:50%;
	margin-bottom:5px;
}
.fa-facebook{
	background-color:#3a5695;
}
.fa-google-plus{
	background-color:#cd3c2a;
}
.fa-linkedin{
	background-color:#007bb6;
}
.fa-twitter{
	background-color:#5ea9dd;
}
.fa-skype{
	background-color:#00affa;
}
.fa-dribbble{
	background-color:#03a651;
}
footer{
	text-align:center;
	padding:20px 0;
}